#main{
    margin-top: 150px;
}

#mainContent_content{
    text-align: center;
}

.mainContent_title{
    font-weight: bold;
    font-size: 18px;
}

.rectangle{
    display: block;
    width: 100%;
    height: 15px;
    background-color:coral;
}

.mainContent_section{
    float: left;
    display: block;
    width: 400px;
    margin-bottom: 200px;
}
#mainContent_first-section{
    margin-left: 26%;
}
#mainContent_second-section{
    margin-left: 3%;
}

.mainContent_popUp-resolve{
    font-size: 18px;
    font-weight: bold;
    color: blue;
    cursor: pointer;
}
.mainContent_popUp-resolve:hover{
    color: #3B60E4;
}

@media screen and (max-width: 1280px) {
    #mainContent_first-section{
        margin-left: 20%;
    }
}

@media screen and (max-width: 1050px) {
    #mainContent_first-section{
        margin-left: 10%;
    }
}

@media screen and (max-width: 920px) {
    #mainContent_first-section{
        margin-left: 30%;
    }
    #mainContent_second-section{
        margin-left: 30%;
        margin-top: 10%;
    }
}

@media screen and (max-width: 920px) {
    #mainContent_first-section{
        margin-left: 22%;
    }
    #mainContent_second-section{
        margin-left: 22%;
        margin-top: 10%;
    }
}

@media screen and (max-width: 540px) {
    #mainContent_first-section{
        margin-left: 10%;
    }
    #mainContent_second-section{
        margin-left: 10%;
        margin-top: 10%;
    }
}

@media screen and (max-width: 450px) {
    #mainContent_first-section{
        margin-left: 15%;
        width: 300px;
    }
    #mainContent_second-section{
        margin-left: 15%;
        margin-top: 10%;
        width: 300px;
    }
}

@media screen and (max-width: 400px) {
    #mainContent_first-section{
        margin-left: 10%;
        width: 300px;
    }
    #mainContent_second-section{
        margin-left: 10%;
        margin-top: 10%;
        width: 300px;
    }
    #imgTriangulos{
        width: 200px;
    }
}

@media screen and (max-width: 350px) {
    #mainContent_first-section{
        margin-left: 20%;
        width: 200px;
    }
    #mainContent_second-section{
        margin-left: 20%;
        margin-top: 10%;
        width: 200px;
    }
    #imgTriangulos{
        width: 100px;
    }
}